*{
            margin: 0%;
            padding: 0%;
            box-sizing: border-box;
        }
        .container{
            width: 100vw;
            height: 100vh;
            background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
            display:flex;
            justify-content: center;
            align-items: center;
        }
         .card{
            width: 360px;
            height: 570px;
            background-color: white;
            border-radius: 20px;

            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 30px;
            padding: 20px;
        }
            
    

        .card img{
            height: 57%;
            border-radius: 10px;
        }

        .card h2{
            padding:12px;
            margin: 2px;
            font-weight: bold;
            font-size: 1.5rem;
        }

        .card p{
            font-size: 1.2em;
            
        }